


@style rect {
  border-width: 2.12px;
  border-color: orange;
  border-radius: 10px;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 200px;
  background-color: #C7C729;
}

@style grey-box {
  border-color: grey;
  background-color: black;
	width: 300px;
	height: 200px;
  top: 400px;
  left: 300px;
}

@style black-text {
  color: white;
  background: red;
  top: 400px;
  left: 300px;
  font-weight: bold;
  font-style: italic;
}